:root {
    --primery-black-color: #212121;
    --primery-white-color: #ffffff;
    --secondary-text-color: #757575;
    --accent-blue-color: #2196f3;
    --accent-black-color: #000000;
    --secondary-black-color: #2f303a;
    --transparency-white-color: #ffffff99;
    --hover-blue-color: #188ce8;
    --header-line-color: #ececec;
    --secondary-white-color: #f5f4fa;
    --border-line-color: #eeeeee;
}