.logo {
    color: var(--accent-black-color);
    font-family: 'raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.logo__blue {
    color: var(--accent-blue-color);
}

.footer .logo {
    color: var(--primery-white-color);
}