.main-button {
    width: 200px;
    height: 50px;
    margin: 0 auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--primery-white-color);
    background-color: var(--accent-blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;

    cursor: pointer;

    transition: background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: var(--hover-blue-color);
            }
}

.hero .main-button {
    width: 216px;

    display: block;
    text-align: center;
}


.modal .main-button {  
    outline: transparent;         
}


.footer .main-button {    
    display: flex;
    align-items: center;
    text-align: center;
       
    padding: 10px 28px;     
    
}

.main-button__icon {
    fill: var(--primery-white-color);
    margin-left: 10px;
    height: 100%;
}