.menu-button {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    
    @include flex-center;

    @include tablet {
        display: none;
    }

}

.menu-button__icon {
    width: 40px;
    height: 40px;
    
    .menu-button:hover &, 
    .menu-button:focus & {
        fill:var(--accent-blue-color);
    }
}

