.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;    
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    
}

.mobile-menu { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    background-color: var(--primery-white-color);   
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.menu-toggle {
    min-height: 40px;
    min-width: 40px;

    @include flex-center;
    margin: 0;
    padding: 0;

    background-color: transparent;
    border: none; 
    border-radius: 50%;  
    
        &:hover,
        &:focus {
            fill: var(--accent-blue-color);
        }
      
        
        @include tablet {
            display: none;
        }
}

.menu-toggle__icon {
    width: 40px;
    height: 40px;
}

.mobile-menu__nav {
    margin-bottom: 32px;
    
    
}

.mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-menu__link {   
        
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    
    color: var(--primery-black-color);

    @media screen and (max-width: 430px) {
            font-size: 32px;
        }
}

.current-blue {
    color: var(--accent-blue-color);
}

.menu-contacts__item:first-child {
margin-bottom: 32px;
}

.menu-contacts__tel {     

    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    color: var(--accent-blue-color);

    @media screen and (max-width: 430px) {
            font-size: 24px;
        }
}

.menu-contacts__email {    
        font-weight: 500;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;
    
        color:var(--secondary-text-color);

        @media screen and (max-width: 430px) {
                font-size: 16px;
            }
}

.menu-social {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    margin-top: 64px;

    @media screen and (max-width: 430px) {
            margin-top: 32px;
            gap:15px;
        }
    
}

.menu-social__link {
    
    padding-right: 10px;
    
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;    
    
    color: var(--accent-blue-color);
    
    @media screen and (max-width: 430px) {
            font-size: 12px;
        }
                 
}

.menu-social__item:not(:last-child) {
    Border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: rgba(33, 33, 33, 0.2);
}






    