.mobile-menu {
    background-color: #fff;
    // position: relative;
    //     width: 480px;
    //     height: 796px;
    //     left: 0px;
    //     top: 0px;
    
    //     background: #FFFFFF;
    //     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);


    .mobile-menu__menu-button {
        position: absolute;
        top:0;
        right: 0;
    }
    .menu-social {
        display: flex;
    }



    
}