.main-title {
    margin-bottom: 50px;

    font-size: 28px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    @include desktop {
        font-size: 36px;
        line-height: 1.17;
    }
}


