h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

ul {
    list-style: none;
}

body {
    background-color: var(--primery-white-color);
    color: var(--primery-black-color);

    font-family: 'roboto', sans-serif;
}

.link {
    text-decoration: none;

    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            color: var(--accent-blue-color);
            text-decoration: none;
        }
}



