
.features__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;

    @include tablet {
        flex-direction: row;
    }

    @include desktop {
        flex-direction: row;
        align-items: start;    
        
        
    }
}

.features__item {
    width: 100%;
    

    @include tablet {
        width: 354px;
    }


    @include desktop {
        width: 270px;    
        
            
    }
}

.features__icon-container {
    @include flex-center;
    
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--secondary-white-color);
    border-radius: 4px;
}

.features__title {
    text-align: center;
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.features__post {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
}