.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--secondary-black-color);
}

.footer__container {
    display: flex;    
    justify-content: center;
    flex-direction: column;    

    @include tablet {
        flex-direction: row;
        align-items: baseline;
        flex-wrap: wrap;
        align-content: space-around;       
        
        }

    @include desktop {
        flex-direction: row;
        align-items: baseline;
        
        gap: 93px;
    }    
}

.footer__address-container,
.footer__social-container,
.subscribe__input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include desktop {
        display: block;
        flex-direction: row;
    }
}

.footer__address-container {
    @include tablet {
margin-right: 165px;
    }

    @include desktop {
        margin-right: 0;
    }
}

.footer__social-container {
    margin: 60px 0;

    @include tablet {
        margin: 0;
    }
}

.address {
    margin-top: 20px;
}

.address__item {
    text-align: center;

    @include desktop {
        text-align: left;
    }
}

.address__item:nth-child(2n) {
    margin-top: 8px;
    margin-bottom: 8px;

    @include desktop {
        margin-top: 9px;
        margin-bottom: 9px;
    }
}

.address__link-map {
    color: var(--primery-white-color);

    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    letter-spacing: 0.03em;

    &:hover,
    &:focus {
            color: var(--accent-blue-color);
    
            transition: color 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
}

.address__link {    

    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    letter-spacing: 0.03em;

    color: var(--transparency-white-color);

    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            color: var(--accent-blue-color);
        }
}

.footer__title {
    text-align: center;
    
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primery-white-color);

    @include desktop {
        text-align: left;
    }
}

.subscribe {
    width: 100%;
    height: 100%;
    
    @include tablet {
        padding-top: 60px;
        width: 450px;
    }

        @include desktop{
        width: 570px;
        height: 86px;
        padding-top: 0;
        }
    
}

.subscribe__input-form {
    display: flex;
}

.subscribe__email-input {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 12px;    

    color: rgba(255, 255, 255, 0.6);
    background-color: #2f303a;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    outline: transparent;

    transition: border-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            border-color: var(--accent-blue-color);
            }

        @include desktop {
            width: 358px;
            margin-right: 12px;
            margin-bottom: 0;
        }    
}
