.header {
    border-bottom: 1px solid var(--header-line-color);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav {
    display: flex;
}

.menu-nav {
    display: flex;
    align-items: center;
}

.menu-nav__item:not(:last-child) {
    margin-right: 50px;
}

.menu-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primery-black-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.current {
    position: relative;
    color: var(--accent-blue-color);

        &::after {
                content: '';
                position: absolute;
                bottom: 0;
        
                display: block;
                width: 100%;
                height: 4px;
                background-color: var(--accent-blue-color);
                border-radius: 2px;
            }
}

.contacts {
    display: flex;
    align-items: center;
}

.contacts__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts__icon {
    fill: currentColor;
    margin-right: 10px;
}

.contacts__item:not(:first-child) {
    margin-left: 50px;
}

