.hero {    
    padding-top: 118px;
    padding-bottom: 118px;
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;    
    
    background-color: #c4c4c4;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/480/hero-480@1x.jpg);

    @include retina-bgi {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/480/hero-480@2x.jpg);
    }

    @include tablet {
        
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/768/hero-768@1x.jpg);
        
        @include retina-bgi {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/768/hero-768@2x.jpg);
        }
    }

        @include desktop {
            max-width: 1600px;
            height: 600px;

            padding-top: 200px;
            padding-bottom: 200px;
    
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero/1200/hero-1200@1x.jpg);
    
            @include retina-bgi {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(../images/hero/1200/hero-1200@2x.jpg);
            }    
        }
}

.hero__title {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    color: var(--primery-white-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and(max-width: 390px) {
        max-width: 390px;
        font-size: 20px;
    }

    @include desktop {
    max-width: 696px;

    font-size: 44px;
    line-height: 1.36;
    }
}