.team {
    background-color: var(--secondary-white-color);
}

.team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.team__item {
    width: 270px;    

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__container-info {
    padding: 30px;
    background-color: var(--primery-white-color);
}

.team__title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team__post {
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;

    color: var(--secondary-text-color);
}
